/*
html
{
    border: 50px solid transparent;
    border-image: url(../Images/ImgBorder.JPG) 20% round;
}
*/ 
/* Header */
nav
{
    background-image: url(../Images/NavBG.jpg);
    background-size: 45em auto;
}

#navBar .col
{
    background: none;
}

#title
{
    width: 33em;
    height: auto;
}

.login-button, .book-genre 
{
    position: relative;
    text-align: center;
    color: white;
}
.centered 
{
position: absolute;
top: 60%;
left: 40%;
transform: translate(-50%, -50%);
}

#hamburger-toggle
{
    width: 7em;
    height: auto;
}

.navbar-toggler:focus
{
    border: none;
}


/* Slider */
.carousel-item
{
    background: #777
}


h2
{
    background-color: antiquewhite;
}


.col
{
    padding: 1em;
    /*background: url(../Images/WoodBackground.jpg) repeat center center fixed;*/
    color: rgb(204, 106, 68);
    border-bottom: 50px solid transparent;
    /*border-image: url(../Images/ImgBorder.JPG) 20% round;*/

}

.col
{
    background: #AFB9C8;
}

